@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://use.typekit.net/ihs8yfq.css');

// Cores
$rozaClaro: #F0E1D3;
$rozaEscuro: #C78D6F;
$verdeMusgo: #6C725E;
$black: black;
$white: white;
$cinza: #D9D9D9;

// Fontes
$font-inter: 'Inter', sans-serif;
$font-mulish: 'Mulish', sans-serif;
$font-liana: 'Liana', cursive;